@font-face {
  font-family: 'Carrois Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Carrois Gothic'), local('CarroisGothic-Regular'), url(carrois.woff) format('woff');
}

html,body,div,span,header,footer,nav,menu,article,aside,section,figure,details,summary,
figcaption,meter,a,img,p,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,hgroup,b,del,em,i,ins,small,
strong,sub,sup,dfn,kbd,pre,q,var,mark,abbr,address,blockquote,cite,code,samp,embed,object,
iframe,form,fieldset,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,time,audio,video
{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;
font-style:normal;font-weight:normal}
body{line-height:1;color:black}
section,article,aside,header,footer,nav,dialog,figure,pre,code{display:block}
p code, p pre{display:inline}
b,strong,h1,h2,h3,h4,h5,h6{font-weight:bold}
ol,ul{list-style:none}
blockquote,q{quotes:none}
table{border-collapse:collapse;border-spacing:0}

body {
    font: 14px sans-serif;
    background-image: url(../img/wood.png);
    margin: 0;
    padding: 0;
}

#bookbar {
    background: #ccc;
    background: -webkit-linear-gradient(top, #bbb 0%,#ddd 96%,#999 98%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #bbb 0%,#ddd 96%,#999 98%); /* W3C */
    border-bottom: 1px solid #bbb;
    box-shadow: 0 0 5px 2px #000;
    margin: 0 0 2em;
    padding: 0.5em;
    font-family: Carrois Gothic, sans-serif;
    font-size:16px;
}

#bookbar h1, #bookbar h2 {
    display: inline-block;
}
#bookbar h2 {
    font-size: 0.7em;
    font-weight: normal;
}

#book {
    margin: 0 auto;
}

#book #cover {
    background-color: #026873;
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%), linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%), linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%), linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .07) 50%, transparent 50%), -webkit-linear-gradient(0deg, rgba(255, 255, 255, .13) 50%, transparent 50%), -webkit-linear-gradient(0deg, transparent 50%, rgba(255, 255, 255, .17) 50%), -webkit-linear-gradient(0deg, transparent 50%, rgba(255, 255, 255, .19) 50%);
    background-size: 13px, 29px, 37px, 53px;
    box-shadow: rgba(255,255,255,0.5) 0px 2px 3px 1px inset, rgba(0, 0, 0, 0.298039) 0px -7px 1px 2px inset;
    text-align: center;
}
#book #cover * {
    text-shadow: 0 1px 0 #BBB,
                 0 2px 0 #BBB,
                 0 3px 0 #BBB,
                 0 3px 5px black;
}
#book #cover h1 {
    color: #fff;
    font-family: sans-serif;
    font-size: 2.5em;
    padding: 2em 3ex 0;
}

#book .page {
    background: #FAF3E3;
}
#book .page .textwrap {
    padding: 1em;
    line-height: 1.3em;
}

#book.textual .cover {
    height: 380px;
    margin: 0 1em;
}